<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VIP Admin Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="p-4">
<div class="container w-50">
    <h2 class="mb-4">VIP Admin Registration</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.username.label }} {{ form.username(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.password.label }} {{ form.password(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-warning") }}
        </div>
    </form>
    <p>Already have an account? <a href="{{ url_for('login') }}">Login here</a></p>
</div>
</body>
</html>
